*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

/*-- Header --*/

header{
	height: 25vh;
}

/*-- Menu --*/

.header__menu{
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
}
.header__mainMenu{
	width: 90vw;
	height: 14vh;
	display: flex;
	justify-content: space-between;
}
.header__logoImg{
	width: 5vw;
}
.header__navBar{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navBar a{
	font-weight: bold;
	font-size: 24px;
	color: #E67816;
}

/*-- Secondary menu --*/

.header__secondMenu{
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #FFF974;
	border-top: solid 2px #7AC49F;
	border-bottom: solid 2px #7AC49F;
	padding: 0 50px 0 0;
}
.header__secondBar{
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__secondBar a{
	font-size: 16px;
	color: #E67816;
}
.linkcontact{
	display: none;
}
/*-- Header Mobile Responsive --*/

.menuhamburguer{
	width: 60px;
	height: 60px;
	position: relative;
	display: none;
}
.menuhamburguer label{
	width: 100%;
	height: 100%;
	position: absolute;
}
#check{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	display: none;
}
.hamburguer{
	width: 60px;
	height: 6px;
	position: absolute;
	top: 45%;
	background-color: #E3771A;
	border-radius: 20%;
}
.hamburguer:before{
	content: '';
	width: 60px;
	height: 6px;
	position: absolute;
	top: 15px;
	background-color: #E3771A;
	border-radius: 20%;
}
.hamburguer:after{
	content: '';
	width: 60px;
	height: 6px;
	position: absolute;
	bottom: 15px;
	background-color: #E3771A;
	border-radius: 20%;
}
#check:checked+.header__secondMenu{
	display: block;
}
@media(max-width: 425px){
	.header__menu{
		display: block;
	}
	.menuhamburguer{
		display: block;
		margin: 10px 0 0 15px;
	}
	.header__mainMenu{
		display: none;
	}
	.header__secondMenu{
		width: 100vw;
		height: 300px;
		justify-content: flex-end;
		background-color: white;
		border: solid 1px #95989A;
		padding: 20px 0 0 30px;
		position: absolute;
		top: 0;
		z-index: -1;
		display: none;
	}
	.header__secondBar{
		width: 80%;
		height: 100%;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.header__secondBar a{
		width: 45%;
		font-size: 17px;
	}
	.linkcontact{
		display: block;
	}
}