*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}
/*-- Menu --*/

.header__menu{
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*position: fixed;*/
}
.header__mainMenu{
	width: 90vw;
	height: 14vh;
	display: flex;
	justify-content: space-between;
}
.header__logoImg{
	width: 5vw;
}
.header__navBar{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navBar__link{
	font-weight: bold;
	font-size: 20px;
	color: #E67816;
	margin-left: 50px;
}

/*-- Secondary menu --*/

.header__secondMenu{
	width: 100vw;
	height: 8vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #FFF974;
	border-top: solid 2px #7AC49F;
	border-bottom: solid 2px #7AC49F;
	padding: 0 50px 0 0;
}
.header__secondBar{
	width: 100vw;
	display: flex;
	justify-content: flex-end;
}
.header__secondBar__link{
	font-size: 16px;
	color: #E67816;
	margin: 15px;
}
